@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    20% { transform: translateX(5px) }
    40% { transform: translateX(-5px) }
    60% { transform: translateX(5px) }
    80% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}

.Horizontal-Shake {
    animation: horizontal-shaking .5s infinite;
}

.Start-Button {
    font: var(--calltoaction);

    border: var(--outline);
    border-radius: var(--radius);
    padding: var(--padding);

    background-color: var(--primary);
    color: #FFFFFF;

    filter: var(--shadow);

    transition: all .2s;
    box-shadow: var(--shadow);
}

.Start-Button:hover {
    cursor: pointer;
    
    transform: scale(1.015);
    box-shadow: var(--liftedshadow);
}

.Start-Button:active {
    transform: scale(1);
    box-shadow: var(--shadow);
}

