.Selections-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    gap: calc(var(--verticalspacing) * 2);
}

.Selections-Content {
    flex: 1 0 0;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    row-gap: var(--horizontalspacing);
    column-gap: var(--verticalspacing);

    padding-left: var(--padding);
    padding-right: var(--padding);

    font: var(--settingstext);
    
    max-width: 100%;

    font-style: italic;
}   

.Parent-List, .Child-List {
    padding-left: 20px;

    font-style: normal;
}

.Parent-List > li {
    font-size: 20px;
    font-weight: bold;
    list-style-type: disc;
}

.Child-List > li {
    font-size: 16px;
    font-weight: normal;
    list-style-type: circle;
}

ul {
    margin: 0;
}

li {
    text-align: left;
}