.Category {
    flex: 1;

    padding: var(--padding);

    border: var(--outline);
    border-width: calc(var(--outlinewidth) * 0.75);
    border-radius: var(--radius);

    cursor: pointer;

    transition: all 0.2s;

    box-shadow: var(--shadow);
}

.Category:hover { 
    transform: scale(1.015);
    box-shadow: var(--liftedshadow);
}

.Category:active {
    transform: scale(1);
    box-shadow: var(--shadow);
}