.Timings-Container, .Timings-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Timings-Container {
    gap: calc(var(--verticalspacing) * 2);
}

.Timings-Content {
    gap: var(--verticalspacing);
}

.Timings-Subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--verticalspacing);
}

.Timings-Title {
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-weight: bold;

    font-size: 20px;
}

.Timings-Input {
    border-radius: var(--radius);
    border-color: var(--secondary);

    width: 60%;

    font: var(--settingstext);
    font-size: 16px;

    color: var(--secondary);

    text-align: center;
}