@keyframes TrainingModalRollin {
    0% { 
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    100% { 
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes TrainingModalRollout {
    0% { 
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% { 
        transform: translate(-50%, -60%);
        opacity: 0;
    }
}

.Modal-Container {
    background: white;

    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    animation: TrainingModalRollin 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Exit-Modal-Button {
    position: absolute;
    top: var(--padding);
    right: var(--padding);

    cursor: pointer;
}