:root {
	--primary: #253745;
	--secondary: #62788a;

	--horizontalspacing: 8px;
	--verticalspacing: 8px;

	--padding: 16px;

	--outlinewidth: 4px;
	--outline: var(--outlinewidth) solid var(--primary);
	--outlinespacing: 16px;

	--accordionoutline: 3px solid var(--secondary);

	--radius: 8px;
	
	--ff: 'Raleway';
	--font-fallback: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
						'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
						sans-serif;

	--headertitle: bold 36px var(--ff), var(--font-fallback);
	--calltoaction: bold 28px var(--ff), var(--font-fallback);
	--sectiontitle: bold 24px var(--ff), var(--font-fallback);
	--accordiontitle: bold 20px var(--ff), var(--font-fallback);
	--settingstext: regular 20px var(--ff), var(--font-fallback);

	--shadow: 0px 4px 8px 1px rgba(0,0,0,0.31);
	--liftedshadow: 0px 6px 8px 1px rgba(0,0,0,0.31);
}

.App {
	font-family: var(--ff), var(--font-fallback);
	text-align: center;
}

.Website-Header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--horizontalspacing); 

	color: var(--primary);

	padding: var(--padding);

	font: var(--headertitle);
}

.Outline {
	border: var(--outline);
	border-radius: var(--radius);
	padding: var(--padding);

	box-shadow: var(--shadow);
	
	background-color: white;
	color: var(--primary);
}

.Title-With-SVG {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--horizontalspacing); 

	font: var(--sectiontitle);
}

.Two-Column-Container {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	gap: var(--outlinespacing);

	width: 65%;
	margin: auto;

	padding-bottom: var(--padding);
}

@media only screen and (max-width: 800px) {
	.Two-Column-Container {
		width: 80%;
		flex-direction: column;
	}
}

.Column {
  	display: flex;
  	flex-direction: column;
  	gap: var(--outlinespacing);
}

.Category-Accordion-Container {
  	flex: 3;
}

.Selections-Setup-Start-Container {
  	flex: 1;
}

.Heads-Up-Text {
    margin: 0px;
    padding: 0px;

    font: var(--warningtext);
    font-size: 16px;
    font-style: italic;
    color: var(--secondary);
}