.Update-Selections-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--horizontalspacing);
}

.Update-Selections-Button {
    padding: var(--padding);

    border: var(--outline);
    border-width: calc(var(--outlinewidth) * 0.75);
    border-radius: var(--radius);

    font: var(--calltoaction);
    font-size: 16px;

    background-color: var(--primary);

    color: white;

    transition: all 0.2s;

    box-shadow: var(--shadow);
}

.Update-Selections-Button:hover {
    cursor: pointer;

    transform: scale(1.015);
    box-shadow: var(--liftedshadow);
}

.Update-Selections-Button:active {
    transform: scale(1);
    box-shadow: var(--shadow);
}